//色設定
$txtColor: #2E3113;
$commonColor: #44481C;
$accentColor: #A85917;
$bg: #F5F1E4;

//フォントサイズ
$font24: 24px;
$font14: 14px;
$font32: 32px;
$font40: 40px;
$font80: 80px;

//path
$imgPath :"../../img";